<style>
  .custom-dark {
    background-color: #122912!important;

  }

</style>
<!-- <script id="my-modal.html" type="text/ng-template">

</script> -->

<ion-view style="" class=" " id="page7" title="Main Menu" ng-init="loadMenu('menu')">
  <ion-nav-buttons side="right">
    <button ng-click="$navigate()" class="button button-icon button-clear" ng-class="'ion-android-cart'">
      <span ng-if="cartList.length > 0" class="badge badge-assertive header-badge">{{cartList.length}}</span>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" style="background-color: #ECEFF1;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="retrieveProducts('refresh')"></ion-refresher>

    <div class="item item-input-inset" style="border: none;background-color:rgba(255,255,255,0.9)">
      <label class="item-input-wrapper" style="background-color:#ECEFF1">
        <input type="text" placeholder="Search Items" ng-model="searchInput">
      </label>

    </div>

    <div class="row flex-wrap" style="flex-wrap:wrap">
      <div class="col-50" ng-repeat="item in menu | filter : searchInput" style="padding:0.35rem;">
        <div style="background-color:#FFF">

          <div class="item item-image" style="border-width: 0px; border-style: none;height:13rem;padding:1rem;padding-bottom:0rem">
            <div style="height:7rem; display: flex; align-items: center; justify-content: center;">
              <img ng-click="showProductInfo(item.id)" ng-src="{{item.img_url}}" width="100%" height="auto"/>
            </div>
            <div style="padding-top:1rem">
              <div style="height:2.5rem">
                <h4 ng-click="showProductInfo(item.id)" style="text-align:left;white-space: normal;color:#78909C">
                  {{item.name | uppercase}}</h4>
              </div>
              <h4 style="text-align:left;color:#78909C">
                RS.
                <small>
                  {{item.price | number:2}}
                </small>
              </h4>
            </div>

          </div>

          <div class="row">
            <div class="col-50" style="padding-right:0.5rem">
              <button class="button button-small  button-block" ng-click="addFavourite(item)" ng-class="isFavourite(item) == 'true'?'button-assertive':''" style="box-shadow: none;margin:0cm;padding-right:0cm;padding-left:0cm;padding:0cm">
                <i class="ion-heart"></i>
              </button>
            </div>
            <div class="col-50" style="padding-right:0.5rem">
              <button class="button button-small button-block" ng-click="addToCart(item)" ng-class="item.isAdded?'button-positive':''" style="box-shadow: none;margin:0cm;padding:0cm">
                <i class="ion-ios-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
</ion-view>
