<ion-view style="" class=" " id="page9" title="My Cart" ng-init="initCart()">
    <ion-content class="has-header" padding="true">

        <div>
            <p>Total =
                <strong> Rs. {{calculateTotal()}}</strong>
            </p>
        </div>
        <button ng-click="checkout()" class="button button-assertive button-block ">Check Out</button>

        <div ng-repeat="item in cartList">
            <div class="list card">
                <div style="min-height: 30px;" class="item item-divider">{{item.item.name}} </div>
                <div class="item item-body">

                    <img ng-src="{{ item.item.img_url  }}" width="100%" height="auto" style="box-shadow: none;">
                    <form class="list"></form>
                    <div>
                        <p>{{item.qty}} x Rs. {{item.item.price}} =
                            <strong> Rs. {{ item.qty *  item.item.price  }}</strong>
                        </p>
                    </div>
                    <div class="button-bar" style="box-shadow: none;">
                        <button ng-click="removeFromCart($index)" class="button button-assertive button-block button-small icon ion-android-delete"></button>
                        <button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="increase($index)"></button>
                        <button class="button button-stable button-clear button-block button-small">{{item.qty}}</button>
                        <button class="button button-stable button-clear button-block  icon ion-minus" ng-click="decrease($index)"></button>
                    </div>
                </div>
            </div>
        </div>

        <!--<a ng-repeat="item in cartList" href="#/{{item.id}}" class="item item-thumbnail-left">

            <img ng-src="{{ item.item.img_url }}">
            <h2>{{ item.item.name }}</h2>
            <h4>{{ item.qty }}</h4>
        </a>-->

    </ion-content>
</ion-view>