<ion-view style="" class=" " id="page9" title="My Cart" ng-init="initCart()">
  <ion-nav-buttons side="right">
    <button ng-if="cartList.length !== 0" ng-click="checkout()" class="button button-icon button-clear" ng-class="'icon ion-checkmark-round'"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false" style="background-color: #ECEFF1;">
    <div ng-if="cartList.length == 0" style="padding-top:6rem;">
      <img src="img/empty-cart.png" alt="" style="height:8rem;padding-left:6rem">
      <br>
      <h3>
        <center>Sorry! Cart is Empty!
        </center>
      </h3>
    </div>
    <div ng-if="cartList.length !== 0">
      <div class="list" style="margin-bottom:0cm">
        <ion-list style="width: auto; height:68vh">

          <ion-item can-swipe="listCanSwipe" class="item item item-avatar" href="" style="background-color: #FFF;border-bottom:4px solid #ECEFF1; " ng-repeat="item in cartList">

            <img ng-src="{{ item.item.img_url }}">
            <h2>{{ item.item.name }}
            </h2>
            <p>Rs.{{ item.item.price | number:2 }}
              x
              {{ item.qty }}</p>

            <ion-option-button class="button-assertive" ng-click="removeFromCart(item.item)">Delete</ion-option-button>
          </ion-item>
        </ion-list>

        <a class="item " href="" style="background-color: #FFF;border-bottom:4px solid #ECEFF1; ">
          <div class="row">
            <div class="col-50">
              <h2>Grand Total</h2>
            </div>
            <div class="col-50">
              <h2 style="text-align:right">
                Rs.
                {{calculateTotal() | number:2}}</h2>

            </div>
          </div>

        </a>
      </div>
<!--  <div>
        <button style="margin-top:0cm" ng-click="checkout()" class="button button-assertive button-block ">Check Out</button>
      </div> -->
    </div>
  </ion-content>
</ion-view>
