<style>
    .logo-font {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
</style>


<ion-view style="" class=" " id="page6" on-swipe-right="goLogin()" title="Signup" hide-nav-bar="true">
    <img src="img/bg1.jpg" style=" height: 100%; width: 100%;">
    <ion-content>

        <form name="signupForm" class="list " style="padding:1rem" id="signup-form2">
            <div class="app-icon">
            </div>
            <h4 class="logo-font" style="color:rgba(255,255,255,0.68);margin-top:0.5rem">
                <center>On The Go</center>
            </h4>

            <div style="   background-color:rgba(255,255,255,0.18);  margin-top: 1rem;  border-radius: 7%; padding: 6%;padding-top:0cm;padding-bottom:0cm; ">

                <div class="list" id="signup-list3" style="margin-bottom:1rem">



                    <label style="padding-left:0cm;padding-top:0cm" class="item item-input item-floating-label">
                <span style="color: #9F9F9F;"  class="input-label">Name</span>
                <input style="color: #ffffff;" ng-model="user.name" type="text" placeholder="Name">
              </label>

                    <label style="padding-left:0cm" class="item item-input item-floating-label">
                <span style="color: #9F9F9F;" class="input-label">Phone</span>
                <input style="color: #ffffff;" ng-model="user.phone" type="tel" placeholder="Phone">
              </label>

                    <label style="padding-left:0cm" class="item item-input item-floating-label">
                  <span style="color: #9F9F9F;" class="input-label">Email</span>
                  <input style="color: #ffffff;" ng-model="user.email" type="email" placeholder="Email">
              </label>

                    <label style="padding-left:0cm" class="item item-input item-floating-label">
                  <span style="color: #9F9F9F;" class="input-label">Password</span>
                  <input style="color: #ffffff;" ng-model="user.password" type="password" placeholder="Password">
              </label>


                </div>


                <div class="row">
                    <div class="col-50" style="padding:1%">

                        <button style="font-size:80%;padding-right: 1rem;padding-left:1rem" class="button-small button button-positive  button-block icon-left ion-social-facebook " style="border-radius:0px 0px 0px 0px;"
                            id="signup-button4">FACEBOOK</button>
                    </div>
                    <div class="col-50" style="padding:1%">
                        <button style="font-size:80%" ng-click="signupEmail(signupForm,user)" class="button-small button    button-block  "
                            style="border-radius:0px 0px 0px 0px;" id="signup-button3">SIGN UP</button>

                    </div>


                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
